pkgbase = omacal
	pkgdesc = Omarchy-native CalDAV calendar (Tauri + React, Nextcloud sync, live theme)
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/frozenbanana/omacal
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = sqlite
	depends = openssl
	depends = hicolor-icon-theme
	optdepends = mako: desktop notifications
	optdepends = noto-fonts: recommended fonts
	provides = omacal
	provides = omarcal
	conflicts = omacal-bin
	conflicts = omarcal
	conflicts = omarcal-bin
	source = omacal-0.3.0.tar.gz::https://github.com/frozenbanana/omacal/archive/v0.3.0.tar.gz
	sha256sums = SKIP

pkgname = omacal
